body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
}

.header h1{
  font-size: 32px;
  font-weight: 900;
  margin:16px;
}

.main-content{
  display: flex;
  height: 100%;
  flex-wrap:wrap;
}


.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
  margin:20px;
  flex: 8;
  flex-basis: 400px;
}

.card{
  flex-basis: 200px;
  flex-grow: 1;
  padding: 48px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 300px;
  padding:16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

li{
  list-style-type: none;
}

li a{
  font-size: 24px;
  text-decoration: none;
  color:white;
}